/404.html
/about.html
/blog-details.html
/blog.html
/contact.html
/destination-details.html
/destination1.html
/destination2.html
/faqs.html
/gellery-grid.html
/gellery-slider.html
/index
/index2.html
/index3.html
/pricing.html
/product-details.html
/ravelo.zip
/shop.html
/tour-details.html
/tour-grid.html
/tour-guide.html
/tour-list.html
/tour-sidebar.html